.input {
  transform: translateX(-50%);
  left: 50%;
  position: relative;
  padding-top: 46px;
  input {
    background: #FFFFFF;
    border: 0.5px solid #FE9563;
    border-radius: 16px 8px 8px 16px;
    width: 1041px;
    height: 62px;
    &::placeholder {
      padding-left: 20px;
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 0.03em;
      color: #8F8F8F;
    }
  }
  &__btn {
    position: absolute;
    right: 98px;
    width: 210px;
    height: 62px;
    background: #FE9563;
    border-radius: 0 8px 8px 0;
    border: none;
    color: white;
    &_width {
      right: 0;
      height: 41px;
    }
  }
  &-width {
    grid-column: 1 / 5;
    margin-top: -10px;
    input {
      width: 590px;
      height: 41px;
    }
  }
}