.slogan {
  padding-top: 115px;
  &__wrapper {
    text-align: center;

    h3 {
      font-weight: 700;
      font-size: 42px;
      color: #000000;
    }
    p {
      font-weight: 500;
      font-size: 16px;
      color: #393939;
    }
  }
}